#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(15, 19, 23);
	font-family: "VT323", monospace;
	font-weight: 400;
	font-style: normal;
}

#gamecontainer {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#selectalias,
#intro,
.start {
	font-family: "Gajraj One";
	text-align: center;
	background: black;
	color: white !important;
	border: none;
	font-size: 3rem;
	font-weight: bold;
	outline: 4px solid white;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1002;
}

.start {
	top: 0;
	left: 0;
	transform: none;
	position: relative;
	border-radius: 0;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	z-index: 1001;
	padding: 1rem 4rem;
	margin-bottom: 2rem !important;
	transform-origin: center center;
}

#intro {
	outline: none !important;
	border: none !important;
	background: none !important;
	box-shadow: none !important;
}

#intro p {
	margin-top: 3rem;
	font-family: "VT323", monospace;
	font-size: 1.5rem;
	max-width: 35rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.playbox {
	background: rgba(0, 0, 0, 0.35);
	outline: 4px solid white;
	backdrop-filter: blur(0.5rem);
	text-align: center;
	color: white !important;
	border: none;
	font-size: 2rem;
	font-weight: bold;
	padding: 4rem 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1002;
}

.playbox .setsize {
	font-size: 1.2rem;
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
	justify-content: center;
}
.playbox .width {
	float: left;
}

.playbox .width span,
.playbox .height span {
	font-size: 2rem;
	display: block;
}

.playbox p:nth-child(3) {
	font-size: 1.2rem;
	margin-top: 1rem;
	max-width: 30rem;
}

.playbox .sizebutton {
	width: 3rem;
	height: 3rem;
	margin: 2px;
	border: none;
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0.8rem;
}

.playbox .sizebutton:hover {
	cursor: pointer;
	background: yellow;
	color: black;
}

#selectalias {
	margin-top: 4rem;
	position: relative;
	transform: none;
	left: 0;
	top: 0;
}

.start:focus-visible,
.start:focus {
	cursor: pointer;
	color: black !important;
	outline-color: yellow;
	background: yellow;
	box-shadow: none;
	transform-origin: top left;
}

.start:hover {
	cursor: pointer;
	color: black !important;
	outline-color: yellow;
	background: yellow;
	box-shadow: 0 0 4rem 0 yellow;
	transform-origin: top left;
}

.start:active {
	transform-origin: center center;
	cursor: pointer;
	color: black !important;
	outline-color: yellow;
	background: yellow;
	box-shadow: 0 0 4rem 0 yellow;
	scale: 0.9;
}
#darkoverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	content: "";
	backdrop-filter: blur(1rem);
	background: rgba(0, 0, 0, 0.4);
}
#container {
	outline: 8px solid rgba(255, 255, 255, 0.05);
	border-style: inset;
	border-color: rgba(255, 255, 255, 0.2);
	border-width: 6px;
	background: rgba(0, 0, 0, 0.4);
	position: relative;
	max-width: 32rem;
	margin-top: 3rem;
	width: 52vh;
	z-index: 100;
	animation: boxflash 0.1s infinite;
}

#intro {
	animation: boxflash 0.1s infinite;
	background: linear-gradient(0deg, rgba(9, 37, 62, 1) 0%, rgba(22, 60, 116, 1) 100%);
	outline: none;
	border: 4px solid royalblue;
	border-radius: 0.8rem;
}

@keyframes boxflash {
	0% {
		box-shadow: 0 0 64px 0 rgba(82, 157, 255, 0.6);
	}
	100% {
		box-shadow: 0 0 58px 0 rgba(82, 157, 255, 0.5);
	}
}

@keyframes boxflashsmall {
	0% {
		box-shadow: 0 0 16px 0 rgba(82, 157, 255, 0.6);
	}
	100% {
		box-shadow: 0 0 12px 0 rgba(82, 157, 255, 0.5);
	}
}

#intro h1 {
	font-size: 10rem;
}

#intro h2 {
	margin-top: -6rem;
	z-index: 10000;
	position: relative;
	filter: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 1px black)
		drop-shadow(0px 0px 1px black);
	transform: skew(-10deg, -10deg);
	letter-spacing: 0.2rem;
}

@keyframes bg-shift {
	0% {
		background-position: 0 -25px;
	}
	100% {
		background-position: 0 25px;
	}
}

#intro h1 span,
#container h1 span {
	filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0px 0.5rem 0px black)
		drop-shadow(0px 12px 24px black) drop-shadow(1px 1px 1px magenta);
}
#container h1 {
	z-index: 10;
	font-family: "Gajraj One";
	position: absolute;
	text-align: center;
	font-size: clamp(1.2rem, 8vh, 5rem);
	top: -5rem;
	width: 100%;
}

#intro h1 span:nth-child(1),
#container h1 span:nth-child(1) {
	background: linear-gradient(
		0deg,
		rgb(86, 0, 0) 16%,
		rgb(255, 37, 37) 37%,
		rgb(255, 185, 185) 51%,
		rgb(255, 37, 37) 66%,
		rgb(33, 0, 0) 100%
	);
	color: transparent;
	background-size: contain;
	-webkit-background-clip: text;
	background-clip: text;

	animation: bg-shift 0.5s ease-in-out infinite alternate;
}
#intro h1 span:nth-child(2),
#container h1 span:nth-child(2) {
	background: linear-gradient(
		0deg,
		rgb(86, 80, 0) 16%,
		rgb(255, 153, 37) 37%,
		rgb(255, 237, 185) 51%,
		rgb(255, 150, 37) 66%,
		rgb(33, 26, 0) 100%
	);
	color: transparent;
	background-size: contain;
	-webkit-background-clip: text;
	background-clip: text;
	animation: bg-shift 0.5s ease-in-out infinite alternate;
}
#intro h1 span:nth-child(3),
#container h1 span:nth-child(3) {
	background: linear-gradient(
		0deg,
		rgb(73, 86, 0) 16%,
		rgb(204, 255, 37) 37%,
		rgb(241, 255, 185) 51%,
		rgb(179, 255, 37) 66%,
		rgb(24, 33, 0) 100%
	);
	color: transparent;
	background-size: contain;
	-webkit-background-clip: text;
	background-clip: text;
	animation: bg-shift 0.5s ease-in-out infinite alternate;
}
#intro h1 span:nth-child(4),
#container h1 span:nth-child(4) {
	background: linear-gradient(
		0deg,
		rgb(0, 86, 20) 16%,
		rgb(37, 255, 44) 37%,
		rgb(192, 255, 185) 51%,
		rgb(37, 255, 77) 66%,
		rgb(5, 33, 0) 100%
	);
	color: transparent;
	background-size: contain;
	-webkit-background-clip: text;
	background-clip: text;
	animation: bg-shift 0.5s ease-in-out infinite alternate;
}
#intro h1 span:nth-child(5),
#container h1 span:nth-child(5) {
	background: linear-gradient(
		0deg,
		rgb(0, 74, 86) 16%,
		rgb(37, 208, 255) 37%,
		rgb(185, 242, 255) 51%,
		rgb(37, 215, 255) 66%,
		rgb(0, 23, 33) 100%
	);
	color: transparent;
	background-size: contain;
	-webkit-background-clip: text;
	background-clip: text;
	animation: bg-shift 0.5s ease-in-out infinite alternate;
}
#intro h1 span:nth-child(6),
#container h1 span:nth-child(6) {
	background: linear-gradient(
		0deg,
		rgb(0, 20, 86) 16%,
		rgb(37, 95, 255) 37%,
		rgb(185, 211, 255) 51%,
		rgb(37, 121, 255) 66%,
		rgb(0, 14, 33) 100%
	);
	color: transparent;
	background-size: contain;
	-webkit-background-clip: text;
	background-clip: text;
	animation: bg-shift 0.5s ease-in-out infinite alternate;
}
.colorize {
	background-color: rgb(103, 103, 255);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	mix-blend-mode: overlay;
	opacity: 0.8;
}

.colorize:after {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: "";
	display: block;
	mix-blend-mode: screen;
	background-image: url("assets/zoom.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.minigrid {
	margin: 1rem;
	margin-top: 2em;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.minigrid div {
	aspect-ratio: 1/1;
}
.grid {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.grid div {
	border: 1px solid rgba(255, 255, 255, 0.08);
	aspect-ratio: 1/1;
	width: 100%;
}

.gamesymbols {
	width: 15rem;
	font-family: "Gajraj One";
	font-size: 2rem;
	position: absolute;
	color: white;
	right: calc(50% + 28vh + 10px);
	top: 10vh;
	text-align: right;
	animation: textflash 0.561s infinite;
	z-index: 100;
}

@keyframes textflash {
	0% {
		filter: drop-shadow(0 0 6px white);
	}
	100% {
		filter: drop-shadow(0 0 2px white);
	}
}

.score,
.level span,
.lines span {
	font-size: 8vh;
	/* filter: drop-shadow(0 0 2px black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
		drop-shadow(0 0 1px yellow) drop-shadow(0 0 1px yellow) drop-shadow(0 0 1px yellow); */
}

.score {
	line-height: 2.5rem;
	margin-bottom: 2rem;
	font-size: 3rem;
}

#timer {
	font-size: 0.6rem;
	text-transform: uppercase;
}

#timer div {
	font-size: 1.2rem;
}

#timer div span {
	display: inline-block;
	width: 0.85rem;
}

#btn-mute,
#btn-fullscreen,
#btn-back {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 10000;
	width: 3rem;
	height: 3rem;
	border: 2px solid black;
	background-image: url("assets/icon-music.svg");
	background-size: 2rem;
	background-position: center center;
	background-repeat: no-repeat;
	filter: invert(1);
}

#btn-fullscreen {
	top: auto;
	bottom: 1rem;
	background-image: url("assets/icon-fullscreen.svg");
}

#btn-back {
	right: auto;
	left: 1rem;
	background-image: url("assets/icon-back.svg");
}

#btn-mute:hover,
#btn-fullscreen:hover,
#btn-back:hover {
	cursor: pointer;
	scale: 1.2;
	background-color: yellow;
	border-color: yellow;
	filter: invert(0);
}

#btn-mute:active,
#btn-fullscreen:active,
#btn-back:active {
	scale: 1;
}

.lines,
.level,
.comingsymbol {
	text-transform: uppercase;
	width: 100%;
	font-size: 1.2rem;
	font-family: "Gajraj One";
	padding: 3vh;
	margin-top: 1rem;
	text-align: center;
	/* outline: 4px solid rgba(255, 255, 255, 0.08); */
	border-color: rgba(255, 255, 255, 0.4);
}
.comingsymbol {
	width: auto;
	position: absolute;
	right: calc(50% - 28vh - 12.5rem);
	color: white;
	z-index: 10;
	overflow: visible;
	padding: 1rem;
	animation: textflash 0.561s infinite;
	aspect-ratio: 1 / 1;
	width: 12rem;
	outline: none;
}

.comingsymbol .minigrid {
	animation: comingsymbol 2s ease-in-out infinite alternate;
}

.comingsymbol:after {
	position: absolute;
	left: 50%;
	width: 350%;
	height: 350%;
	top: 50%;
	background: radial-gradient(circle, rgba(22, 60, 116, 0.5) 0%, rgba(72, 159, 237, 0) 40%);
	transform: translateX(-50%) translateY(-50%);
	content: "";
	z-index: -2;
	opacity: 1;
	opacity: 0.5;
}

@keyframes comingsymbol {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-1rem);
	}
}

.lines {
	margin-top: 10vh;
}

.lines span,
.level span {
	display: block;
	text-align: center;
}

.tetromino {
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-width: 4px !important;
	border-style: solid;
	border-top-color: rgba(255, 255, 255, 0.2) !important;
	border-left-color: rgba(255, 255, 255, 0.1) !important;
	border-bottom-color: rgba(0, 0, 0, 0.3) !important;
	background: white;
	box-shadow: 0 0 64px 0 white;
}

.tetromino.red {
	box-shadow: 0 0 64px 0 red;
}
.tetromino.orange {
	box-shadow: 0 0 64px 0 orange;
}
.tetromino.yellow {
	box-shadow: 0 0 64px 0 yellow;
}
.tetromino.blue {
	box-shadow: 0 0 64px 0 blue;
}
.tetromino.purple {
	box-shadow: 0 0 64px 0 purple;
}
.tetromino.green {
	box-shadow: 0 0 64px 0 green;
}

#gameover {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(6, 17, 64, 0.532);
	color: white;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	content: "";
	z-index: 1001;
	text-align: center;
	width: 100%;
	height: 100%;
}

#gameover .banner {
	margin-top: 2rem;
	position: relative;
	bottom: 0rem;
}

#gameover h1 {
	line-height: 8rem;
	font-family: "Gajraj One", sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 7rem;
	background: linear-gradient(
		0deg,
		rgb(86, 83, 0) 16%,
		rgb(255, 248, 37) 37%,
		rgb(249, 255, 185) 51%,
		rgb(244, 255, 37) 66%,
		rgb(29, 33, 0) 100%
	);
	color: transparent;
	background-size: contain;
	-webkit-background-clip: text;
	background-clip: text;
	animation: bg-shift 0.5s ease-in-out infinite alternate;
	filter: drop-shadow(0 0 1px white) drop-shadow(0 0 1px white) drop-shadow(0px 0.5rem 0px black)
		drop-shadow(0px 12px 24px black) drop-shadow(1px 1px 1px magenta);
}

#playagain {
	margin-top: 2rem;
	padding: 1rem 2rem;
	border: 2px solid white;
	background: transparent;
	color: white;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	font-family: "Gajraj One", sans-serif;
	text-transform: uppercase;
	font-size: 1.4rem;
}

#playagain:hover {
	background-color: yellow;
	color: black;
	box-shadow: 0 0 3rem 0 yellow;
	border-color: yellow;
	cursor: pointer;
}

#playagain:focus,
#playagain:focus-visible {
	outline: none;
	background-color: yellow;
	color: black;
	border-color: yellow;
	cursor: pointer;
}

#playagain:active {
	scale: 0.9;
	background-color: yellow;
	color: black;
	box-shadow: 0 0 3rem 0 yellow;
	border-color: yellow;
	cursor: pointer;
}

#highscores {
	margin-top: 1rem;
	align-items: center;
	justify-items: center;
}

#highscores .highscoretable {
	height: calc(90vh - 30rem);
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: white transparent;
}

#highscores p {
	filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
		drop-shadow(0 0 1px black);
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

#highscores .row,
.yourscore {
	filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
		drop-shadow(0 0 1px black);
	font-size: 1.2rem;
	/*font-family: "Roboto", sans-serif;*/
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	grid-gap: 2rem;
	display: grid;
	grid-template-columns: 1fr 3fr 4fr 2fr 3fr 3fr 4fr;
	border-radius: 0.4rem;
}

.yourscore {
	border-bottom: 1px solid rgba(255, 255, 0, 0.549);
	padding: 0.5rem;
	border-radius: 0 !important;
	margin-bottom: 0.5rem;
	padding-bottom: 0.9rem !important;
}

#highscores .row a {
	color: yellow;
}

#highscores .row a:hover {
	color: white;
}

#highscores .row:hover {
	background: black;
}

#highscores .row.thead:hover {
	background: transparent;
}

#highscores .row div:nth-child(1),
#highscores .row div:nth-child(2),
#highscores .row div:nth-child(7) {
	text-align: left;
}
#highscores .row div:nth-child(1),
#highscores .row div:nth-child(3) {
	color: yellow;
}

#highscores .row div:nth-child(3),
#highscores .row div:nth-child(5),
#highscores .row div:nth-child(6) {
	text-align: right;
}
#highscores .row {
	padding: 0.5rem;
	font-size: 1.4rem;
	filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
		drop-shadow(0 0 1px black);
}
#highscores .thead {
	border-radius: 0;
	text-transform: uppercase;
	font-size: 1rem;
	border-bottom: 1px solid rgba(255, 255, 0, 0.549);
	margin-bottom: 0.5rem;
}

#backanim {
	position: fixed;
	width: 100%;
	height: 100%;
	content: "";
	top: 0;
	left: 0;
	z-index: 50;
}

#backanim i {
	width: 8px;
	height: 8px;
	box-shadow: 0 0 8px 1px yellow;
	border-radius: 12px;
	background: yellow;
	position: absolute;
	top: -10%;
	left: -10%;
	z-index: 8;
}

#backanim i:nth-child(1) {
	animation: i1 18s ease-out infinite;
}

#backanim i:nth-child(2) {
	animation: i2 14s ease-out infinite;
	animation-delay: 5s;
}

#backanim i:nth-child(3) {
	animation: i3 10s ease-out infinite;
	animation-delay: 12s;
}

#backanim i:nth-child(4) {
	animation: i4 20s ease-out infinite;
	animation-delay: 20s;
}

@keyframes i1 {
	0% {
		scale: 2;
		top: -20px;
		right: -20px;
	}
	5% {
		scale: 0;
		top: 50%;
		right: 50%;
	}
	100% {
		scale: 0;
		top: 50%;
		right: 50%;
	}
}

@keyframes i2 {
	0% {
		scale: 2;
		top: -20px;
		left: -20px;
	}
	5% {
		scale: 0;
		top: 50%;
		left: 50%;
	}
	100% {
		scale: 0;
		top: 50%;
		left: 50%;
	}
}

@keyframes i3 {
	0% {
		scale: 2;
		top: -20px;
		left: 40%;
	}
	5% {
		scale: 0;
		top: 60%;
		left: 50%;
	}
	100% {
		scale: 0;
		top: 60%;
		left: 50%;
	}
}

@keyframes i4 {
	0% {
		scale: 2;
		top: 110%;
		left: 20%;
	}
	5% {
		scale: 0;
		top: 60%;
		left: 50%;
	}
	100% {
		scale: 0;
		top: 60%;
		left: 50%;
	}
}

#backanim i:nth-child(5) {
	top: -25rem;
	left: auto;
	right: 30%;
	width: 18rem;
	height: 18rem;
	background-image: url("assets/moon.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border: none;
	box-shadow: 0 0 64px 4px white, 0 0 4px 1px white;
	filter: brightness(1);
	border-radius: 100%;
	animation: moon 1500s linear infinite;
	z-index: -10000;
}

@keyframes moon {
	0% {
		top: -25rem;
		right: 10%;
	}
	100% {
		top: 120%;
		right: -18rem;
	}
	50% {
		top: 120%;
		right: -35rem;
	}
}

#backanim i:nth-child(6) {
	top: auto;
	bottom: -20%;
	left: -10%;
	right: auto;
	width: 40rem;
	height: 40rem;
	background-image: url("assets/earth.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 114%;
	background-color: transparent;
	border: none;
	box-shadow: 0 0 24px 2px royalblue;
	border-radius: 100%;
	z-index: 1100;
	filter: none;
	opacity: 1;
	mix-blend-mode: normal;
}

.addscore {
	transform-origin: right center;
	animation: scoreadd 0.3s ease-in-out 1 forwards;
}

@keyframes scoreadd {
	0% {
		color: yellow;
		scale: 1.5;
	}
	100% {
		color: white;
		scale: 1;
	}
}

.fulldown {
	animation: fulldownanim 0.4s ease-in-out 1 forwards, boxflash 0.1s infinite !important;
}
@keyframes fulldownanim {
	0% {
		filter: brightness(4);
		transform: translateY(0rem);
	}
	10% {
		transform: translateY(3rem);
	}
	20% {
		transform: translateY(-0.1rem);
	}
	40% {
		transform: translateY(0.6rem);
	}
	60% {
		filter: brightness(1);
		transform: translateY(0rem);
	}
	100% {
		transform: translateY(0rem);
	}
}

.newscore {
	z-index: 1000;
	position: fixed;
	left: 50%;
	top: 80%;
	transform: translateX(-50%) translateY(-50%);
	color: white;
	font-size: 2rem;
	line-height: 2rem;
	font-family: "Gajraj One";
	text-align: center;
	animation: newscore 0.8s ease-out 1 forwards;
	filter: drop-shadow(0 0 1px yellow) drop-shadow(0 0 4px yellow) drop-shadow(0 0 2rem yellow)
		drop-shadow(0 0 2rem yellow);
	transform-origin: top left;
}
@keyframes newscore {
	0% {
		opacity: 1;
		top: 80%;
		scale: 0.5;
		color: yellow;
	}
	30% {
		color: white;
	}
	70% {
		scale: 1.5;
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: 60%;
		scale: 1.5;
		color: white;
	}
}

.newfastdown {
	z-index: 1000;
	position: fixed;
	left: 50%;
	top: 40%;
	transform: translateX(-50%) translateY(-50%);
	color: white;
	font-size: 2rem;
	line-height: 2rem;
	font-family: "Gajraj One";
	text-align: center;
	animation: newfastdown 0.6s ease-out 1 forwards;
	filter: drop-shadow(0 0 1px yellow) drop-shadow(0 0 4px yellow) drop-shadow(0 0 2rem yellow)
		drop-shadow(0 0 2rem yellow);
	transform-origin: top left;
}
@keyframes newfastdown {
	0% {
		opacity: 1;
		scale: 0.5;
		color: yellow;
	}
	30% {
		color: white;
	}
	80% {
		scale: 1.5;
		opacity: 1;
	}
	100% {
		opacity: 0;
		scale: 1.5;
		color: white;
	}
}

.multiplier {
	text-transform: uppercase;
	text-align: left;
	font-family: "Gajraj One";
	font-size: 1rem;
	z-index: 10;
	color: white;
	position: fixed;
	top: 10vh;
	right: calc(50% - 28vh - 7.5rem);
	animation: textflash 0.561s infinite;
}

.multiplier span {
	text-transform: lowercase;
	font-size: 3rem;
}

.winrow:after {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: "";
	background: white;
	animation: winrow 0.033s linear infinite alternate;
	box-shadow: 0 0 0.4rem 1px white;
}

@keyframes winrow {
	0% {
		opacity: 0.77;
	}
	100% {
		opacity: 0.25;
	}
}

.lineupdate span,
.levelupdate span {
	animation: scoreadd 0.3s ease-in-out 1 forwards;
}

.border {
	border-width: 4px !important;
	border-style: solid;
	border-top-color: rgba(255, 255, 255, 0.2) !important;
	border-left-color: rgba(255, 255, 255, 0.1) !important;
	border-bottom-color: rgba(0, 0, 0, 0.1) !important;
	background: rgba(65, 105, 225, 0.186);
}
/*
.lastrow {
	height: 0 !important;
	aspect-ratio: auto;
}
*/
.copyright {
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	color: white;
	transform: translateX(-50%);
	z-index: 50;
	font-size: 0.75rem;
	font-family: "Roboto", sans-serif;
	opacity: 0.5;
}

.copyright a {
	color: white;
}

#settings {
	position: absolute;
	z-index: 100000000;
	top: 0;
	right: 0;
}

#startanim {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 5;
}

#startanim i {
	opacity: 0;
	border-radius: 100%;
	content: "";
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100vw;
	height: 100vw;
	border: 4px solid yellow;
	display: block;
	transform-origin: top left;
	box-shadow: 0 0 1rem 0 yellow, 0 0 1rem 0 yellow inset;
	animation: startanimation 0.6s ease-out 1 forwards;
}

#startanim i:nth-child(2n) {
	border: 4px solid rgba(255, 255, 0, 0.692);
	animation: startanimation 1s ease-out 0.1s forwards !important;
}

#startanim i:nth-child(3n) {
	border: 4px solid rgba(255, 255, 0, 0.424);
	animation: startanimation 1s ease-out 0.2s forwards !important;
}

#startanim i:nth-child(4n) {
	border: 4px solid rgba(255, 255, 0, 0.288);
	animation: startanimation 1s ease-out 0.4s forwards !important;
}

#startanim i:nth-child(n + 4):nth-child(-n + 23) {
	display: none;
}

@keyframes startanimation {
	0% {
		opacity: 1;
		scale: 0;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		scale: 2;
	}
}
.tetromino.taken {
	animation: takenstart 0.2s ease-out 1 forwards;
}

@keyframes takenstart {
	0% {
		box-shadow: 0 0 2rem 0.2rem white;
		filter: brightness(3);
	}
	100% {
		box-shadow: 0 0 0rem 0rem white;
		filter: brightness(1);
	}
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}
.purple {
	background-color: purple;
}
.white {
	background-color: white;
}
.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.banner {
	z-index: 10000;
	left: 50%;
	position: absolute;
	bottom: 2rem;
	transform: translateX(-50%);
}

.banner:hover {
	animation: flash 0.33s ease-out 1 forwards;
}

@keyframes flash {
	0% {
		filter: brightness(4);
	}
	100% {
		filter: brightness(1);
	}
}
